html body{
    margin: 0;
    padding: 0;
}
body{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(50px, 75px);
    background-image: url('fit.jpg');
    height:100%;
    width: 100%;
    background-size:cover;
    background-position: center;
    gap: 50px;
}
.intro{
    grid-column: 1/-1;
    grid-row: 1;
}
.res{
    grid-column: 1/4;
    grid-row: 2;
   
}
.calc{
    grid-column: 1/4;
    grid-row: 3;
}
input{
    font-size:12px !important;
}


